<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>main.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadParam</servlet-name>
        <servlet-class>servletparam.ReadParam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormParam</servlet-name>
        <servlet-class>servletparam.FormParam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearCookie</servlet-name>
        <servlet-class>login.ClearCookie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>login.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>login.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionLogin</servlet-name>
        <servlet-class>session.SessionLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionLoginCheck</servlet-name>
        <servlet-class>session.SessionLoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionProfile</servlet-name>
        <servlet-class>session.SessionProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearSession</servlet-name>
        <servlet-class>session.ClearSession</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadParam</servlet-name>
        <url-pattern>/read-param</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormParam</servlet-name>
        <url-pattern>/form-param</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearCookie</servlet-name>
        <url-pattern>/clear-cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/login-check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionLogin</servlet-name>
        <url-pattern>/session-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionLoginCheck</servlet-name>
        <url-pattern>/session-login-check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionProfile</servlet-name>
        <url-pattern>/session-profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearSession</servlet-name>
        <url-pattern>/clear-session</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
